@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900&display=swap');

:root {
    --font-title: 'Pacifico', cursive;
    --font: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

.contact-form, .contact-header, .contact-block, form, footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    width: 100%;
    height: 100vh;
    background: url(../img/background.png) no-repeat;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.contact-header {
    padding: 100px 20px 0;
}

.section-title {
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 30px;
}

.section-title + p {
    font-size: 17px;
    text-align: center;
    font-weight: 300;
}

.contact-block {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form > form > input, textarea {
    width: 500px;
    height: 50px;
    background-color: rgba(0, 196, 196, 0.45);
    border: unset;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    filter: brightness(0.87);
}

.form > form :first-child {
    font-weight: 700;
}

textarea {
    padding: 12px 0                                                              0 20px;
    height: 250px;
    font-size: 15px;
    font-weight: 300;
}

.form > form > input::-webkit-input-placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;}
.form > form > input:-ms-input-placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;}
.form > form > input::-ms-input-placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;}
.form > form > input::placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;} 
.form > form > textarea::-webkit-input-placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;}
.form > form > textarea:-ms-input-placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;}
.form > form > textarea::-ms-input-placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;}
.form > form > textarea::placeholder { color: #fff; font-family: 'Raleway', sans-serif; font-size: 15px;} 

.form > form > input:focus { filter: none; cursor: pointer; background-color: rgba(0, 196, 196, 0.6);outline: none;
    border-left: 5px solid #355b82;}
.form > form > textarea:focus { filter: none; cursor: pointer; background-color: rgba(0, 196, 196, 0.6);}

.contact-info {
    height: 170px;
}

.contact-info > ul > li {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 20px;
}

li > .li-title {
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

li > .value > a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #000;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    filter: brightness(0.73);
}

footer > .logo {
    font-family: var(--font-title);
    font-size: 25px;
}

footer > .author {
    font-size: 15px;
}

footer > .author > span {
    color: #ff2b58;
}